body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
:root {
  --ramadyDark: rgb(54, 51, 47);
  --ramady-Dark: rgb(78, 74, 69);
  --ramadyMid: rgb(92, 89, 84);
  --ramadyLight: rgb(209 152 69 / 84%);
  --transitionColor: color 0.2s ease-in-out;
  --transitionBsckgroundColor: background-color 0.5s
    cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
a {
  text-decoration: none;
  color: white;
}
/* -------------------- nav */
nav {
  background-color: var(--ramadyDark);
  color: white;
  width: 100%;
  height: 80px;
  padding: 0;
  position: fixed;
  top: 0;
}
nav > h1 {
  width: 10%;
  font-size: xx-large;
  font-weight: bolder;
  float: left;
  margin: 22px 200px;
}
nav > h1 a {
  color: white;
  transition: var(--transitionColor);
}
/* ****** */
nav > h1 a:hover {
  color: var(--ramadyLight);
}
nav > ul {
  width: 30%;
  height: 100%;
  float: right;
  margin: 0 150px;
  padding: 0;
  display: flex;
  justify-content: center;
}
nav > ul > li {
  list-style-type: none;
  margin: 0;
  padding: 30px;
  transition: var(--transitionBsckgroundColor);
}
/* ****** */
nav > ul > li:hover {
  background-color: var(--ramadyMid);
}
nav > ul a {
  color: inherit;
  font-size: large;
  font-weight: bold;
  margin: 0;
  transition: var(--transitionColor);
}
/* ******* */
nav > ul a:hover {
  color: var(--ramadyLight);
}
/* --------------------------------- contactUs_section */
#contactUs_section {
  /* width: 100%; */
  height: 45em;
  margin-top: 80px;
  padding: 20px 310px;
  color: var(--ramadyMid);
}
#contactUs_section > h1 {
  font-size: 50px;
  color: var(--ramadyDark);
  margin-bottom: 15px;
}
#contactUs_section > h1 > span {
  color: var(--ramadyLight);
}
#contactUs_section > h4 {
  font-size: 20px;
  margin-top: 15px;
}
#contactUs_section > form {
  width: 100%;
}
#contactUs_section > form > label {
  font-size: large;
  font-weight: bolds;
}
#contactUs_section > form > label input {
  width: 100%;
  height: 30px;
  margin: 5px 0 30px 0;
  color: black;
  font-size: large;
  background-color: rgba(240, 248, 255, 0);
  border: 2px solid var(--ramadyMid);
  border-radius: 2px;
}
#contactUs_section > form textarea {
  margin: 5px 0 30px 0;
  color: black;
  background-color: rgba(240, 248, 255, 0);
  border: 2px solid var(--ramadyMid);
  border-radius: 2px;
}
#contactUs_section #submit_us {
  color: rgb(255, 255, 255);
  background-color: var(--ramadyDark);
  font-size: large;
  border: none;
  padding: 10px 20px;
  border-radius: 2px;
  transition: var(--transitionColor);
  transition: var(--transitionBsckgroundColor);
}
#contactUs_section #submit_us:hover {
  color: var(--ramadyLight);
  background-color: var(--ramadyMid);
}

/* --------------------------------- comunicationWay_section */
#comunicationWay_section {
  /* width: 100%; */
  height: 20em;
  padding: 20px 5em;
  background-color: var(--ramadyDark);
  color: white;
  display: flex;
  justify-content: center;
}
#comunicationWay_section > div {
  width: 20%;
  height: 20em;
  padding: 20px 50px;
  text-align: center;
}
#comunicationWay_section > div {
  margin-top: 45px;
}
#comunicationWay_section > div img {
  width: 70px;
}
#comunicationWay_section > div h2 {
  color: rgb(211, 211, 211);
}
#comunicationWay_section > div > span a {
  color: rgb(131, 131, 131);
  letter-spacing: 3px;
  transition: var(--transitionColor);
}
#comunicationWay_section > div > span a:hover {
  color: var(--ramadyLight);
}
/* --------------------------------  footer*/
footer {
  width: 100%;
  height: 5em;
  background-color: var(--ramady-Dark);
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
}
footer > h3 {
  margin: 30px 0;
  color: white;
  font-weight: 500;
}
/*                                                     End All */
